.tooltip-container {
    display: inline-block;
    position: relative;
}

ul.navigationItems > li.navigationItem > a .tooltip-container {
    width: 100%;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 5px);
    background-color: #555;
    color: #fff;
    text-align: center;
    line-height: 14px;
    border-radius: 6px;
    /* padding: 5px 0; */
    padding: 5px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip-text.down {
    top: calc(100% + 5px);
    left: calc(-50% - 5px);
    bottom: unset;
}

.tooltip-text.down::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-text.down::after {
   display: none;
}

.tooltip-container > .tooltip:hover + .tooltip-text{
    visibility: visible;
    opacity: 1;
}

ul.navigationItems > li.navigationItem > a:hover .tooltip-container > .tooltip + .tooltip-text{
    visibility: visible;
    opacity: 1;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
