.side-bar-wrapper {
    position: absolute;
    top: 70px;
    width: 100%;
    float: left;
    display: block;
}


.side-bar-wrapper.show-categories {
    z-index: 50;
}

.side-bar-wrapper::after {
    display: block;
    content: "";
    clear: both;
    display: table;
    background-color: wheat;
}

.side-bar-container {
    position: relative;
    width: 100%;
    font: 16px 'Philosopher', sans-serif;
}

.side-bar-wrapper .hide-on-l {
    display: block;
    width: 100%;
}

.side-bar-wrapper .md-only {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 50px;
    line-height: 41px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 99;
}

.side-bar-wrapper .md-only > span {
    display: inline-block;
    width: 100%;
    height: 50px;
    box-shadow: inset 0 0 4px #994d00;
    border: 1px solid #994d00;
    background-color: #ebebe0;
    color: #cc6600;
    z-index: 99;
}

.side-bar-wrapper .md-only > span svg {
    position: relative;
    top: 1px;
    font-size: 14px;
}

.side-bar-wrapper .side-bar-container {
    position: relative;
    top: -200vh; 
    z-index: 50;
    transition: top 0.4s ease-in-out;
}

.side-bar-wrapper .hide-on-md > div.md-only {
    display: none; 
}

.side-bar-wrapper.show-categories .side-bar-container {
    top: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@media only screen and (min-width: 510px){
   
    .side-bar-wrapper {
        top: 10px;
    }
    .side-bar-container > .side-bar {
        width: 50%;
        min-width: 33.3333%;
    }
    .side-bar-wrapper .md-only{
        width: 33.3333%;
    }
}

@media only screen and (min-width: 600px) {
    .side-bar-wrapper.show-categories {
        z-index: 99;
    }
    .side-bar-container > .side-bar {
        width: 33.3333%;
    }
}

@media only screen and (min-width: 900px){
    .side-bar-wrapper {
        position: relative;
        width: 25%;
        top: 0px;
    }
    .side-bar-wrapper .side-bar-container {
        top: 29.6px;
        /* left: 50%; */
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; 
        float: left;
        width: 100%;
        /* border-top: 3px double brown; */
        /* transform: translateX(-50%); */
    }
    .side-bar-container > .side-bar {
        width: 100%;
        padding-top: 5px;
    }
    .side-bar-container::before{
        content: '';
        position: absolute;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 3px double black;
    }
    .side-bar-wrapper .hide-on-md > div.md-only {
        display: block; 
    }
    /* .side-bar-wrapper .md-only {
        display: none;
    } */
    .side-bar-wrapper .md-only > span {
        color: #663300;
    }
    .side-bar-wrapper .md-only {
        width: 100%;
        cursor: unset;
    }
    .side-bar-wrapper .hide-on-l {
        display: none;
    }
}