.shop {
    position: relative;
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: white;
}

@media only screen and (min-width: 768px) {
    .shop {
        padding-right: 10px;
    }
}

