.order-summary {
    width: 100%;
}

.order-header, .order-summary h5 {
    text-align: center;
}

.order-ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.order-list-item {
    width: 100%;
    margin: auto 0px;
    padding: auto 0px;
    list-style: none;
}

.order-summary p:first-child {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.order-summary p {
    padding-left: 10px;
}

.order-summary-products-list {
    width: 100%;
    max-height: 150px;
    overflow: auto;
    padding-left: 10px;
    margin-top: 0px;
}

.order-summary-products-list li {
    list-style: none;
    font: inherit;
}