.controls-container {
    position: relative;
    width: 100%;
    top: 50px;
    float: right;
    color: #4d4d00;
}

@media only screen and (min-width: 510px){
    .controls-container {
        top: 0px;
    }
}

@media only screen and (min-width: 900px){
    .controls-container {
        width: 75%;
    }
}

.controls {
    width: 100%;
    padding: 5px 5% 0px 5%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

@media only screen and (max-width: 330px){
    .controls {
        flex-direction: column;
        padding: 0px;
        padding-top: 5px;
    }
}

@media only screen and (min-width: 610px){
    .controls {
        flex-wrap: nowrap;
        /* justify-content: space-around; */
    }
}

.controls > .control-numb-of-items, .controls .control-instock {
    /* flex: 1; */
    min-width: 150px;
    max-width: 100%;
}

.controls .control-sort {
    /* width: 100%; */
}

@media only screen and (min-width: 600px){
    .control-numb-of-items {
        flex-basis: content;
        flex-grow: 2;
        align-self: flex-start;
    }
    .control-instock {
        flex-grow: 1;
        flex-basis: content;
        align-self: center;
        padding-left: 30px;
    }
    .control-sort {
        flex-grow: 2;
        flex-basis: content;
        align-self: flex-end;
    }
}

/* @media only screen and (min-width: 900px){
    .control-instock {
        padding-left: 30px;
    }
} */

/* @media only screen and (min-width: 653px){
    .controls > .control-numb-of-items,
    .controls .control-instock,
    .controls .control-sort {
        width: 33.3333%;
    }
} */


.controls-container > .controls .input {
    /* height: 50px; */
    padding: 0px 5px;
}

.controls .control-numb-of-items .input > label,
.controls .control-instock .input > label,
.controls .control-sort .input > label {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.controls .control-instock .input > label {
    flex-direction: row-reverse;
}

@media only screen and (min-width: 600px){
    .controls .control-sort .input > label {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 400px){
.controls .control-numb-of-items .input > label,
.controls .control-instock .input > label {
        flex-wrap: nowrap;
    }
}

.controls .input > label > span {
    /* padding: 18px 5px 18px 0px; */
    font-weight: normal;
    font-family: 'Exo 2', sans-serif;
    text-align: right;
}

.controls .control-numb-of-items .input > label > span,
.controls .control-instock .input > label > span,
.controls .control-sort .input > label > span {
    /* width: calc(100% - 50px); */
    min-width: 80px;
    float: left;
    word-wrap: break-word;
   /* height: 50px; */
}

@media only screen and (min-width: 600px){
    .controls .control-numb-of-items .input > label > span,
    .controls .control-instock .input > label > span,
    .controls .control-sort .input > label > span {
        display: inline-block;
        min-width: auto;
    }
}

.controls .control-instock .input > label > span {
    text-align: left;
    /* padding: 18px 0px 18px 5px; */
}

.controls .control-sort .input > label > span {
    text-align: center;
}

@media only screen and (min-width: 300px){
    .controls .control-sort .input > label > span {
        text-align: right;
    }
}

.controls .input > label .inputElement {
    color: #666600;

}

.controls > .control-numb-of-items .input > label select.inputElement{
    width: 60px;
    float: right;
    /* height: 22px; */
    margin: 0px;
}

@media only screen and (max-width: 200px){
    .controls > .control-numb-of-items .input > label select.inputElement{
        width: 40px;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .controls > .control-numb-of-items .input > label select.inputElementselect::-ms-expand {
        display: none;
    }
}

.controls > .control-sort .input > label select.inputElement{
    width: 150px;
    float: right;
    margin: 0px;
}

.controls-container > .shown-products-info {
    width: 90%;
    margin: 0px auto;
    padding: 7px 5px 5px 5px;
    font-family: 'Exo', sans-serif;
    /* font-style: italic; */
    font-size: 14px;
    border-bottom: 3px double #4d4d00;
    color: #4d4d00;
}



