.controls-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: 50px;
    float: right;
    /* color: #4d4d00; */
    color: #4d2600;
    font: 14px 'PT Sans Narrow', sans-serif;
    background-color: aliceblue;
}


.shown-products-info {
    display: inline-block;
    position: relative;
    /* height: 30px; */
    width: 90%;
    margin: 0px auto;
    height: 30px;
    font: 12px monospace;
    line-height: 20px;
    color: darkgreen;
    padding: 0px 10px 5px 10px;
    /* font-family: 'Muli', sans-serif;
    font-size: 14px; */
    /* font-style: italic; */
}



.controls {
    width: 100%;
    padding: 8px 0px;
    padding-bottom: 2px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.controls .input {
    padding: 0px;
    /* margin-bottom: 5px; */
}

.controls .input > label {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0px;
    padding: 0px 5px;
}

.controls .input > label span {
    position: relative;
    font-weight: normal;
    padding-left: 0px;
    white-space:nowrap
}

.control-numb-of-items span::after,
.control-sort span::after {
    position: absolute;
    top: 0px;
    right: -1px;
    content: ":";
    display: block;
    padding-right: 3px;
}


.control-instock {
    height: 14px;
    margin-top: 5px
}

.controls .control-instock .input > label {
    /* flex-direction: row; */
    align-items: center;
}

.control-instock .input > label > span{
    order: 2;
    /* padding-bottom: 0px; */
}

.controls .input > label .inputElement{
    margin: 0px;
    height: 20px;
    padding: 0px;
    font: inherit;
    color: inherit;
    font-weight: normal;
    background-color: white;
}

.control-numb-of-items .input > label .inputElement {
    width: auto;
}

.control-instock .input > label .inputElement{
    position: relative;
    width: auto;
    height: 14px;
    order: 1;
}

.control-sort .input > label .inputElement {
    width: auto;
}


@media only screen and (max-width: 290px){
    .shown-products-info .centeredXY{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .controls{
        padding: 0px;
    }
    .control-instock{
        margin-top: 0px;
    }
}


@media only screen and (min-width: 300px){
    .controls {
        justify-content: space-around;
    }
    .controls .input > label {
        /* flex-direction: row;
        flex-wrap: nowrap; */
    }
    .control-instock{
        width: 100%;
    }
    .control-numb-of-items .input > label .inputElement {
        width: 60px;
    }
    /* .control-sort .input > label .inputElement {
        max-width: 150px;
    } */
    .controls .input .label {
        /* align-items: baseline; */
    }
}

@media only screen and (min-width: 510px){
    .controls-container{
        top: 3px;
        background-color: #f2f2f2;
    }
    .controls{
        background-color: unset;
    }
    .control-numb-of-items, .control-sort {
        width: calc(33.3333% - 20px);
        height: 20px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    .control-sort{
        order: 3;
    }
    .control-instock{
        height: 20px;
        width: calc(33.3333% - 20px);
        margin-top: 0px;
        padding: 0px 10px;
    }
    .control-sort .input > .label,
    .control-numb-of-items .input > .label{
        height: 20px;
        align-items: center;
    }
    .control-sort .input > .label > span,
    .control-numb-of-items .input > .label > span {
        position: relative;
        top: -2.4px;
        height: 14px;
    }
    .control-sort .input > .label .inputElement,
    .control-numb-of-items .input > .label .inputElement {
        position: relative;
        top: -1.1px;
        height: 29px;
        padding-bottom: 2.1px;
    }
    .control-numb-of-items .input > .label .inputElement{
        padding-bottom: 0px;
    }
    .shown-products-info{
        height: 20px;
        padding-bottom: 6px;
    }
}


@media only screen and (min-width: 900px){
    .controls-container{
        width: 75%;
        top: -34px;
        color: saddlebrown;
        background-color: unset;
        z-index: 200;
    }

    

    .controls .control-instock {
        position: relative;
        top: -15px;
        width: auto;
        text-align: center;
    }
    .control-sort{
        text-align: right;
    }



    .controls .input > .label {
        width: unset;
    }

    .control-sort .input > .label > span{
        padding-right: 5px;
    }
    .control-numb-of-items .input > .label > span{
        padding-left: 5px;
        order: 2;
    }
    .control-numb-of-items .input > .label > span::after,
    .control-sort .input > .label > span::after{
        display: none;
    }
   


    .control-sort .input > .label .inputElement,
    .control-numb-of-items .input > .label .inputElement {
        width: 104px;
        height: 42px;
        border: 3px double brown;
        box-shadow: -2px 2px 6px #604020, 2px 2px 6px #604020;
    }
    .control-sort .input > .label .inputElement{
        margin-right: 3%;
    }
    .control-numb-of-items .input > .label .inputElement{
        margin-left: 3%;
    }

    .shown-products-info{
        top: -32px;
        height: 35px;
        padding: 10px;
       z-index: -1;
       color: saddlebrown;
    }
    .shown-products-info .centeredXY{
        height: 12px;
    }
}