.items-gallery {
    position: relative;
    top: 45px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 541px;
    /* top: 700px; */
}

@media only screen and (min-width: 510px){
    .items-gallery{
        top: -10px;
    }
}


@media only screen and (min-width: 900px){
    .items-gallery{
        top: -40px;
        width: 75%;
    }

}