.items-gallery {
    position: relative;
    top: 45px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 541px;
    background-color: aliceblue;
    /* top: 700px; */
}

@media only screen and (min-width: 510px){
    .items-gallery{
        top: 0px;
        background-color: #ffffcc;
    }
}


@media only screen and (min-width: 900px){
    .items-gallery{
        top: -55px;
        width: 75%;
        background-color: white;
    }

}