.category-info-container {
    position: relative;
    width: 100%;
    height: 50px;
    /* margin-top: 50px; */
    /* padding: 5px 0px; */
    background-color: inherit;
    z-index: 300;
}

.category-container, .subcategory-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    float: left;
    /* border: 3px double black; */
    /* border: 3px solid  #e6ccb3; */
    /* border-bottom: none; */
    /* font-family: 'Exo 2', sans-serif; */
    font-weight: bold;
    font-size: 16px;
    border-bottom: none;
}

.category-container span, .subcategory-container span {
    align-self: flex-end;
    height: 30px;
    line-height: 30px;
}

.category-container > span:last-child, .subcategory-container > span.ellipsisText {
    /* font-style: italic; */
    display: inline-flex;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
}

.category-info-container span.ellipsisText {
    display: inline-block;
    width: auto;
}

.category-info-container span.hide-on-es{
    display: inline-block;
}

.category-container span.dash, .subcategory-container span.dash {
    /* position: absolute; */
    font-family: 'Bonbon', cursive;
    font-size: 30px;
}


@media only screen and (max-width: 200px){
    .category-info-container span.hide-on-es{
        display: none;
    }
}

@media only screen and (min-width: 510px){
   .category-info-container {
        display: inline-flex;
        width: 66.6666%;
        /* width: calc(100% - 170px); */
        height: 50px;
        margin-top: 0px;
        float: right;
        box-shadow: 0px 2px 2px;
        z-index: 99;    
    }
    .category-container, .subcategory-container {
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        float: left;
        padding: 5px;
        background: #bababa;
        border: 1px solid black;
        text-shadow: #e0e0e0 1px 1px 0;
        box-shadow: inset 0 0 4px black;
    }
    
    .category-container span, .subcategory-container span {
        align-self: center;
        height: unset;
        line-height: unset;
    }
    .category-container span:last-child, .subcategory-container span:last-child{
        width: 100%;
        align-self: center;
    }
}


@media only screen and (min-width: 900px){
    .category-info-container {
        position: relative;
        /* justify-content: space-around; */
        justify-content: space-between;
        width: 75%;
        height: 60px;
        background-color: #ffffe6;
        /* box-shadow: inset 0 0 4px #504b4be0; */
        box-shadow: inset 0 0 4px saddlebrown;
    }
    .category-container, .subcategory-container {
        width: 32%;
        height: 30px;
        padding: 0px;
        flex-wrap: nowrap;
        border: none;
        background-color: unset;
        box-shadow: none;
        border-bottom: 3px double brown;
        color: #663300;

    }
    .category-container{
        justify-content: flex-start;
        margin-left: 3%;
        padding-left: 5px;
    }
    .subcategory-container{
        justify-content: flex-end;
        margin-right: 3%;
        padding-right: 5px;
    }
    .category-container span, .subcategory-container span {
        height: 30px;
        line-height: 30px;
    }
   
    .category-container span:last-child, .subcategory-container span:last-child{
        width: auto;
        font-size: 16px;
        /* align-self: flex-start; */
    }

}