.form {
    margin: 20px 0px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* color: #666666; */
    color: #3a3232;
}


@media only screen and (min-width: 400px) {
    .form {
        width: 80%;
        padding: 10px;
        margin: 20px auto;
    }
} 

@media only screen and (min-width: 500px) {
    .form {
        -webkit-box-shadow: 0 2px 3px #cccccc;
                box-shadow: 0 2px 3px #cccccc;
        border: 1px solid #eeeeee;
    }
}

@media  only screen and (min-width: 600px) {
    .form {
        width: 500px;
    }
}


.form-header {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #3a3232;
}

@media only screen and (min-width: 400px){
    .form-header {
        margin-left: 20px;
    }
}

.contact-form {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

@media (min-width: 600px) {
    .contact-form {
        width: 500px; 
    }
}

.contact-form > h4.form-header {
    position: relative;
    padding: 5px 0px;
    text-align: left;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
}


.contact-form > h4.form-header:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    max-width: 150px;
    height: 4px;
    border-top: 1px solid #3a3232;
    border-bottom: 1px solid #3a3232;
    
}

.form-btn-container {
    display: inline-block;
    position: relative;
}