.navigationItem {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 25px;
}

.navigationItem:hover {
    background-color: #264d00;
}

.navigationItem a {
    display: block; 
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-decoration: none;
    color: white;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
    color: white;
}

@media only screen and (min-width: 600px) {
    .navigationItem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: auto;
        height: 100%;
        margin: 0;
        padding: 0px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .navigationItem:hover {
        background-color: transparent;
    }
    
    .navigationItem a {
        height: 100%;
        line-height: 100%;
        padding: 16px 10px;
        color:#cccccc;
        font-weight: bold;
    }
    
    .navigationItem a:hover,
    .navigationItem a:active,
    .navigationItem a.active {
        color: white;
    }

}

/* .sm-only > .navigationItem {
    height: auto;
    line-height: unset;
} */