.table {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.t-head {
    display: none;
    font-family: 'Exo 2', sans-serif;
}

.t-row, .t-head, .hidden, .th, .th-product, .td-image, .td-name, .td-price, .td-quantity,
.td-total-price-product, .remove-btn, .border-row, .border .cost, .cost div {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.td-image > img {
    max-width: 100%;
}


.quantity-reduce {
    margin-bottom: 10px;
    color: red;
    font-style: italic;
}

@media only screen and (min-width: 500px){
    .quantity-reduce {
        margin-bottom: 0px;
    }
}

.remove-icon {
    color: red;
    cursor: pointer;
}

.cost {
  
    margin-top: 20px;
}


.total {
    font-weight: bold;
}

.hidden {
    font-weight: bold;
}

.td-quantity > input {
    width: auto;
    max-width: 100%;
    text-align: center;
    border: 1px solid #808080;
}

.td-quantity > input::-webkit-inner-spin-button, 
.td-quantity > input::-webkit-outer-spin-button { 
    opacity: 1;
    margin: 0;
}


.border-row {
    height: 1px;
}

.border {
    position: relative;
    width: 100%;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    -webkit-border-image: 
      -webkit-gradient(
        linear, 
        left top, right top, 
        from(#b3b3b3), 
        color-stop(#cccccc),
        to(#b3b3b3)
      ) 1;
    -webkit-border-image: 
      -webkit-linear-gradient(
        left, 
        #b3b3b3, 
        #cccccc,
        #b3b3b3
      ) 1;
         -o-border-image: 
      -o-linear-gradient(
        left, 
        #b3b3b3, 
        #cccccc,
        #b3b3b3
      ) 1;
            border-image: 
      -webkit-gradient(
        linear, 
        left top, right top, 
        from(#b3b3b3), 
        color-stop(#cccccc),
        to(#b3b3b3)
      ) 1;
            border-image: 
      linear-gradient(
        to right, 
        #b3b3b3, 
        #cccccc,
        #b3b3b3
      ) 1
}


@media only screen and (min-width: 500px){ 
    .table {
        border-bottom: 1px solid  #cccccc;
        /* box-shadow: 0px 3px 10px #40bf40;  */
    }
  
    .t-head {
        display: block;
        /* border-bottom: 1px solid  #003300; */
        /* box-shadow: 0 4px 2px 10px #206020; */
        -webkit-box-shadow: 0px 1px 5px #cccccc;
                box-shadow: 0px 1px 5px #cccccc; 
    }

    .t-head > .t-row {
        padding: 0px;
    }

    .hidden {
        display: none;
    }

    .t-head div {
        /* background-color: rgba(64, 191, 64, 0.7); */
        background:rgba(230, 230, 230, 0.7);
        border-left: 1px solid white;
    }

    .t-head div:first-child {
        border-left: none;
    }

    .t-head div:last-child {
        border-right: none;
    }

    .t-row {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-flex: 6;
            -ms-flex: 6;
                flex: 6;
        height: 150px;
        margin: 0px;
        padding: 0px 5px;
    }
    
    .t-head > .t-row {
        height: 50px;
    }

   

    .t-head, .hidden, .th, .th-product, .td-image, .td-name, .td-price, .td-quantity,
    .td-total-price-product, .remove-btn, .border-row, .border {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        float: left;
        margin: 0px;
    }
    .th-product {
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
        padding: 5px;
    }

    .th {
        padding: 5px;
    }

    .quantity-reduce {
        position: absolute;
        top: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .cost {
        width: auto;
        float: right;
        /* margin-right: 5%; */
        margin-right: 20px;
        padding-top: 10px;
    }

    .cost div {
        width: 150px;
        height: 25px;
        line-height: 25px;
        margin-bottom: 5px;
       
        text-align: left;
    }

    .cost div span {
        display: block;
        float: right;
        text-align: right;
        width: 50%;
    }

}

@media only screen and (min-width: 600px){
    .table {
        width: 90%;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        border: 1px solid  #cccccc;
        border-top: none;
        -webkit-box-shadow: 0 2px 3px #cccccc;
                box-shadow: 0 2px 3px #cccccc;
    }

    .border {
        width: 95%;
    }
}



