.sideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    left: 0;
    top: 56px;
    /* background-color: #264d00; */
    background-color: #c2c2a3;
    padding-bottom: 30px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    z-index: 500;
}

@media (min-width: 600px) {
    .sideDrawer {
        display: none;
    }
}

.open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.close {
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);
}