.order-button {
    position: relative;
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    border: #808080;
    background-color: #b3b3b3;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.order-button:hover {
    background-color: #999999;
}

.order-button:active {
    background-color: #e6e6e6;
}

.order-button:disabled, .order-button:disabled:hover{
    cursor: not-allowed;
    background-color: #d9d9d9;
}

.contacts-button {
    width: 100px;
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    border: #808080;
    color: white;
    cursor: pointer;
    background-color: #3a3232;
}

.contacts-button:hover {
    background-color: #524747;
}

.contacts-button:active {
    background-color: #887777;
}


.add-button {
    border-radius: 5px;
    width: 100px;
    height: 22px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /* font-family: 'Impact', 'Charcoal', sans-serif; */
    /* font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif; */
    line-height: 13px;
    font-size: 13px;
    background-color: rgba(0, 102, 0, 0.8);
    /* background-color: cadetblue; */
    border: none;
    outline: 0;
    color: rgb(251, 255, 0); 
    box-shadow: 1px 1px 1px #ffc34d,
    1px -1px 1px #ffc34d,
    -1px -1px 1px #ffc34d,
     -1px 1px 1px #ffc34d;


    cursor: pointer;
    opacity: 0.8;
    transition: all 0s;
}

.add-button:hover {
    /* opacity: 0.9;
    -webkit-box-shadow: 0 0 10px #000000;
            box-shadow: 0 0 10px #000000; */
}


.add-button:disabled, .add-button:hover:disabled  {
    cursor: not-allowed;
    background-color: #b3b3b3;
    box-shadow: none;
    color: #737373;
}


