.order-button {
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    border: #808080;
    background-color: #b3b3b3;
    color: white;
    cursor: pointer;
}

.order-button:hover {
    background-color: #999999;
}

.order-button:active {
    background-color: #e6e6e6;
}

.order-button:disabled {
    cursor: not-allowed;
}

.contacts-button {
    width: 100px;
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    border: #808080;
    color: white;
    cursor: pointer;
    background-color: #3a3232;
}

.contacts-button:hover {
    background-color: #524747;
}

.contacts-button:active {
    background-color: #887777;
}


.add-button {
    border-radius: 5px;
    width: 100px;
    height: 22px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /* font-family: 'Impact', 'Charcoal', sans-serif; */
    /* font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif; */
    line-height: 13px;
    font-size: 13px;
    /* font-style: italic; */
    background-color: #264d00;
    border: none;
    outline: 0;
    color: #ffd11a;  
    cursor: pointer;
    opacity: 0.8;
    /* transition: all 0.4s; */
}

.add-button:hover {
    color: #ffff66;
    /* color: #ffa31a; */
    /* border-color: #ffd699; */
    opacity: 0.9;
    -webkit-box-shadow: 0 0 10px #000000;
            box-shadow: 0 0 10px #000000;
}

.add-button:active {
    background-color: #66cc00;
}

.shop-all-btn {
    margin-top: 20px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
   margin-bottom: 0px;
}

@media only screen and (min-width: 500px){
    .shop-all-btn {
        margin-bottom: 100px;
    }
}

