.about {
    width: 100%;
    padding-top: 1px;
    font-family: 'Arimo', sans-serif;
}


.image-about {
    display: inline-block;
    width: 100%;
    height: auto;
    /* background: url(https://drrtestblob.blob.core.windows.net/images/berries-1546125_640.jpg) no-repeat center center fixed; */
    background: url(https://drrtestblob.blob.core.windows.net/images/berries-1546125_640.jpg)  no-repeat center center fixed;
    background-size: cover;
    height: 0;
    padding-bottom: 50%;
};

.article {
    width: 100%;
}

.article-paragraph, .article-header, .image-article {
    padding: 30px;
}

.article-paragraph {
    overflow-wrap: break-word;
    text-align: justify;
    text-indent: 20px;
}

.article-header {
    padding-left: 80px;
    padding-bottom: 0px;
}

.image-article {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    right: 50%;
}

