.cart {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
    font-family: 'Lato', sans-serif;
}

.cart-empty {
    position: relative;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

@media only screen and (min-width: 600px){
    .cart {
        padding: 5px;
    }
}
