.badge {
    position: absolute;
    /* top: -8px; */
    bottom: 50%;
    left: 10px;
    width: 18px;
    height: 18px;
    padding: 4px 0px;
    font-size: 10px;
    line-height: 10px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    transition: all ease-in 0.3s;
}