.input {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: inherit;
}

.label {
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: inherit;
}

.label span {
    display: inline-block;
    padding: 0px;
    font: inherit;
    color: inherit;
}

@media only screen and (min-width: 400px){
    .label span {
        padding-left: 10px;
    }
}

.inputElement {
    outline: none;
    border: 1px solid #cccccc;
    background-color: white;
    font: inherit;
    font-weight: lighter;
    /* font-style: italic; */
    /* opacity: 0.7; */
    padding: 6px 10px;
    display: block;
    width: 100%;
    margin: 10px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.inputElement::-webkit-input-placeholder {
    color: black; /*Change the placeholder color*/
    opacity: 0.5; /*Change the opacity between 0 and 1*/
}

@media only screen and (min-width: 400px){
    .inputElement {
        margin: 10px;
    }
}

.inputElement:focus {
    outline: none;
    background-color: #cccccc;
}

.invalid, .inputElement:invalid.touched {
    border: 1px solid red;
    background-color: #FDA49A;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 30px;
    z-index: 10;
}

.label ul, .label li {
    width: 100%;
    /* line-height: 30px; */
    background: white;
    z-index: 10;
}


/* .dropdown-container > ul.inputElement, .dropdown-container > ul.inputElement li:first-child,
.dropdown-container > ul.inputElement li:first-child > ul, 
.dropdown-container > ul.inputElement li:first-child > ul > li {
    display: inline-block;
} */

.dropdown-container > ul.inputElement li:last-child > ul, 
.dropdown-container > ul.inputElement li:last-child > ul > li {
    display: inline-block;
}

.dropdown-container > ul.inputElement li:last-child > ul > li {
    margin-left: -40px; /*from 40px padding ul*/
    font-weight: bold;
}

.label li {
    line-height: 30px;
    list-style: none;
}

.label ul.inputElement {
    position: absolute;
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    font: inherit;
}

.label ul.inputElement.touched {
    color: black;
}

.label ul.inputElement > li {
    padding-top: 5px;
   font-weight: bold;
   color: black;
}

.label ul.inputElement > li > ul {
    font-weight: normal;
}



.hidden-ul, .hidden-li {
    display: none;
}

li.show-list .hidden-ul {
    display: inline-block;
    
}

ul.show-list .hidden-li {
    display: inline-block;
}