.carousel-page{
  width: 100%;
  height: calc(100vh - 129px); /*56px toolbar, 73px footer*/
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (orientation: landscape){
    .carousel-page{
        align-items: baseline;
    }
}

.carousel-container{
    width: 100%;
    height: calc(100% - 85px);
}


.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    max-height: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: white;
}

@media only screen and (max-width: 500px){
    .carousel {
        height: 300px;
    }
}

.carousel-wrapp {
    width: 100%;
    height:100%;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.58);
            box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.58);

}

.wellcome {
    max-width: 100%;
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding-left: 20px;
    font-size: 20px;
    overflow: hidden;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

@media only screen and (min-width: 500px){
    .wellcome {
        font-size: 25px
    }
}

.carousel-container .input {
    width: 30%;
    float: right;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    position: relative;
    font-size: 14px;
    color: #737373;
    z-index: 100;
}

.carousel-container .input > .label{
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0px;
}

.carousel-container .input > .label .inputElement {
    margin: 0px 0px 0px 5px;
    padding-top: 2px;
    display: inline-block;
    width: unset;
}

.carousel-container .input > .label > span {
    height: 14px;
    padding-left: 0px;
    order: 2;
}

.carousel-container .button-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
   position: relative;
   top: -18px;

}

.carousel-container .button-container > a {
    display: inline-block;
    height: 22px;
}