.carousel-slide {
    visibility: hidden;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    -webkit-box-shadow: none;
            box-shadow: none;
    /* -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s; */
}

.carousel-slide.shown {
    visibility: visible;
}



.img-container-carousel {
    position: relative;
    width: 50%;
    height: 33.3333%;
    padding: 0px;
    cursor: pointer;

}

@media only screen and (min-width: 500px){
    .img-container-carousel {
        padding: 20px;
        width: 33.3333%;
        height: 50%;
    }
}

.img-container-carousel > img {
    visibility: hidden;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
   opacity: 0;
   filter: blur(20px);
    -webkit-transition: all ease-in-out 0.7s;
    -o-transition: all ease-in-out 0.7s;
    transition: all ease-in-out 0.7s;
}

.carousel-slide.shown .img-container-carousel > img {
    visibility: visible;
   opacity: 1;
   filter: blur(0px);
}

.carousel-slide.shown .img-container-carousel > img:hover {
   opacity: 0.6;
}


