.item {
    position: relative;
    height: 280px;
    padding: 10px;
    padding-top: 20px;
    width: 25%;
    display: block;
    float: left;
    overflow: hidden;
}

@media only screen and (min-width: 600px) {
    .item {
        width: 25%;
    }
}

@media only screen and (min-width: 800px) {
    .item {
        width: 33.33%;
    }
}

@media only screen and (min-width: 900px) {
    .item {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {
    .item {
        width: 16.6666%;
    }
}

.item:hover img {
    /* opacity: 0.8; */
}

.item:hover .info-name {
    color: #29bb29;
}

.item:hover .info-price {
    opacity: 0.7;
}

.item:hover .info-rating {
    opacity: 0.7;

}

.item *:not(img) {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.item-img-container {
    width: 100%;
    height: 55%;
}

[class*="info-"] {
    width: 100%;
    height: 25%;
    margin: 0px;
    text-align: center;
}

.info-container {
    height: 45%;
    overflow: hidden;
    background-color: #e6e600;
    border: 1px solid #4d4d00;
    -webkit-box-shadow: inset 0 0 10px #999900;
            box-shadow: inset 0 0 10px #999900;
}

.info-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: inset 0 0 10px #999900;
            box-shadow: inset 0 0 10px #999900;
}

.info-name, .info-price, .info-rating, .button-container {
    width: 100%;
    height: 25%;
    margin: 0px;
}

.info-name {
    width: 100%;
    padding-top: 3px;
    font-family: 'Times New Roman', 'Times New Roman', 'Times', serif;
    color: #006600;
    font-weight: bold;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.info-price {
    font-style: italic;
    font-weight: bold;
}

.star {
    color: yellow;
  
}

.item:hover .add-button {
    opacity: 1;
}
