

.side-bar > ul.category-list > li.category-list-item > span,
.side-bar > ul.category-list > li.category-list-item ul.subcategory-list > li.subcategory-list-item > a > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
}

ul.category-list, ul.subcategory-list {
    background-color: #f2ffe6;
    width: 100%;
    margin: 0px;
    padding: 0px;
    
}

ul.category-list ul.subcategory-list {
    display: none;
    background-color: #ebebe0;
    border-top: 3px solid #e6ffcc;
}

li.category-list-item {
    border: 2px solid #e6ffcc;
    border-right: none;
    border-left: none;
}

li.category-list-item > span {
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 5px 0px;
    line-height: 20px;
    /* box-shadow: inset 0 0 4px #293d3d; */
    box-shadow: inset 0 0 4px #994d00;
    background-color: #f0f5f5;
}

ul.category-list li.subcategory-list-item {
    height: 30px;
    /* padding: 10px 0px; */
    line-height: 30px;
    font-size: 16px;
    /* font: 16px 'Quintessential', cursive; */
}

li.category-list-item.show-subcat ul.subcategory-list {
    /* position: relative;
    top: 15px;
    padding: 37px 0px;
    margin-bottom: 45px;
    display: inline-flex;
    flex-wrap: wrap;
    height: 223px; */
    display: block;
}

ul.category-list-item .category-list-item > ul.subcategory-list {
    display: none;
}

.subcategory-list-item, .category-list-item {
    width: 100%;
    list-style: none;
}

.subcategory-list-item a, .category-list-item a {
    width: 100%;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: inherit;
}

.subcategory-list-item a {
    /* color: #996600; */
   color: #805500;
}

@media only screen and (min-width: 510px){
    .side-bar > ul.category-list > li.category-list-item > span,
    .side-bar > ul.category-list > li.category-list-item ul.subcategory-list > li.subcategory-list-item > a > span {
        text-align: left;
        padding-left: 10px;
    }
    .side-bar > ul.category-list > li.category-list-item ul.subcategory-list > li.subcategory-list-item > a > span{
        padding-left: 20px;
    }

}

@media only screen and (min-width: 900px){
    li.category-list-item ul.subcategory-list{
        max-height: 133px;
        border-top: none;
        background-color: unset;
    }
    li.category-list-item {
        border: none;
    }
    li.subcategory-list-item{
        border-top: unset;
    }
    ul.category-list li.subcategory-list-item {
        height: 26px;
        line-height: 26px;
        
        /* font-family: 'Caveat', cursive; */
    }
    li.category-list-item span {
        box-shadow: none;
        background-color: white;
        
    }
    .side-bar > ul.category-list > li.category-list-item > span,
    .side-bar > ul.category-list > li.category-list-item ul.subcategory-list > li.subcategory-list-item > a > span {
        text-align: center;
        padding-left: 0px;
    }
}